* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  


@font-face {
    font-family: 'Oswald' ,sans-serif;
    src: local('./fons/Oswald-VariableFont_wght.ttf') format('fft');
}


   
body{
    font-family: oswald, sans-serif ;
}

    .header{
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;

        border-bottom: solid;
        border-color: orange;
        
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
    }


        .header__image-htmlcss{
            width: 6rem;
            height: 6rem; 
            display: flex;
            align-items: center;
        }

        .header__iconos-container{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
        }
                .header__icono-imagen{
                    width: 2rem;
                    height: 2rem;
                }


        .enlace_redSocial{
            text-decoration: none;
        }        
                








           
            
            

    


    /*Hover para las Redes Sociales*/
    .header__icono-imagen:hover{
        transform: scale(1.25);
        animation-duration: 0.25s;
        animation-timing-function: ease-in;
        cursor: pointer;
    }                        


    

    







    

.main{
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2em;  
}    

/*  Seccion del Video */
    .banner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
            .banner__video-container{
                width: 100%;
            }

                .banner__video{
                    width: 100%;
                    display: block;
                }

            .banner__background-opacity {
                background-color: black;
                width: 100%;
                opacity: 0.45;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 1rem;
            }

            .banner__text{
                color: #ffffff;
                position: absolute;
                top: 0;
                text-align: center;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 1em;
            }


/* Seccion del location of world */

.location-of-world__title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #717787;
}

.location-of-world__cards-container{
    /* width: 100%;
    margin: 50% auto; */
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
}

    .location-of-world__card{
        margin: 0.5rem;


        /* Efecto al girar el card */
        -webkit-perspective: 800;
        perspective: 800;
        

    }

    .location-of-world__card:hover .location-of-world__card-front-begin{
        transform: rotateY(180deg); 
        /* transform: rotateX(180deg);  */
    }

    .location-of-world__card_X:hover .location-of-world__card-front-begin_X{
        transform: rotateX(180deg); 
    }

    


        .location-of-world__card-front-begin, .location-of-world__card-front-begin_X{
            width: 300px;
            height: 150px;
            background-color: black;
            position: relative;/* para que se posione el texto de la parte de delante y detras */


            /* Hara que al girar la parte de atras quede atras y la de adelante delante */
            transform-style: preserve-3d;

            /* Esto hara que la targeta gire como si fuera de verdad */
            transition: .7s ease;
            border-radius: 15px;
            border: 2px;
        }

        .location-of-world__card-front, .location-of-world__card-begin, .location-of-world__card-front_X, .location-of-world__card-begin_X{
            width: 100%;
            height: 100%;
            position: absolute;/* para que se posione el texto de la parte de delante y detras */
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden; 
            /* Esto se hace para que si la parte de atras a girado, no se muestre esa parte que ha girado */
            /* Para rotar y que no se muestre la parte trasera y delantera */
            backface-visibility: hidden;
            
        
            
        }

        .mountain{
            width: 100%;
            background-image: url(images/Mountain.jpg);
            background-size: cover;
            border-radius: 5%;
            border: 2px;
        }

        .lake{
            width: 100%;
            background-image: url(images/Lake.jpg);
            background-size: cover;
            border-radius: 5%;
            border: 2px;
        }

        .ocean{
            width: 100%;
            background-image: url(images/Ocean.jpg);
            background-size: cover;
            border-radius: 5%;
            border: 2px;
        }

            .location-of-world__texto-Front{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                padding-top: 2rem;
                font-size:xx-large;
            }
                



        .location-of-world__card-begin{
            /* Para poder rotar la card */
            transform: rotateY(180deg);
            /* transform: rotateX(180deg); */

            /* Centrar texto de la parte de atras del card */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            flex-direction:column;
            gap: 1rem;
        }

        .location-of-world__card-begin_X{
            /* Para poder rotar la card */
            transform: rotateX(180deg);

            /* Centrar texto de la parte de atras del card */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            flex-direction:column;
            gap: 1rem;
        }



                .location-of-world__begin-title-text{
                    font-size: large;
                }

                .location-of-world__begin-paragraph-text{
                    font-size: small;
                }

                

/* Seccion plans */

    /* Titulos de la Seccion Plans */
    .plans{
        background-color: #d5d9dc;
        color: #555a6a;
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 3rem;
        margin: 2rem 0rem 2rem 0rem; /* arriba, derecha, abajo, izquierda */
    }
        .plans__title {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            row-gap: 1rem;
        }

        .plans__title-h3{
            font-size: 2rem;
        }

        .plans__title-subtitle{
            color: #999ba3;
        }

        
    

    /* Plans cards */
    .sticker-container{
        position: relative;
    }

    .plans__card-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        row-gap: 2rem;
        padding: 2rem;

    }
            .plans__card{
                background-color: #ffffff;
                width: 90%;
                border-radius: 15px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                row-gap: 1rem;
                padding: 1rem;

            }

            
                
            
                    .plans__card-h4{
                        font-size: 1.1rem;
                    }

                    .plans__card-price{
                        /* background-color: #3bbdee; */
                        text-align: center;
                    }

                    .plans__card-dollar-span{
                        font-size: 0.7rem;
                        vertical-align: top;
                    }
                    .plans__card-price-span{
                        font-size: 1.5rem;
                    }
                    .plans__card-month-span{
                        font-size: 0.7rem;
                    }



                    .plans__card-characteristic{
                        list-style: none;
                        text-align: center;
                        font-size: 0.8rem;
                    }
                            .plans__card-characteristic--item{
                                margin: 0.7rem;
                            }

                            /* para poder colocar el circulo redondo con el check se usa ::before */
                            /* para darle estilo a cosas como listas */
                            .plans__card-characteristic--item::before{
                                content: '✓';
                                color:#ffffff;
                                background-color:#74ce6a;
                                padding: 0.4rem;/* Padding es el espacio dentro de la caja*/  
                                margin-right: 1rem; /* Margin es el espacio fuera de la caja */ 
                                border-radius: 50px; 
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                width: 15px;
                                height: 15px;
                            }

                    .plans__card-button{
                        background-color:#74ce6a;
                        color: #ffffff;
                        cursor: pointer;
                        padding: 1rem 2rem 1rem 2rem;
                        border: 0;
                        border-radius: 8px;
                        border-bottom: 3px solid #66ac64;
                    }        
                    
                    .plans__card-button:hover{
                        border:4px solid #124911;
                    }

                    .plans__card-button:active { /* cuando le de click al boton */
                        background-color: rgb(21, 87, 5);
                    }

                    .plans__card-sticker{
                        height: 55px;
                        width: 55px;

                        color:#ffffff;
                        background-color: #3bbdee;

                        font-size: 0.5rem;
                        border-radius: 50px;

                        display: flex;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        padding: 1.7rem;
                        left: 0.5rem;
                        top: -1rem;

                        position: absolute;
                        
                    }

                        .plans__card-sticker:hover {
                            transition: 0.5s ease;
                            transform: rotate(360deg);
                        }



        /* Como se veran las plans en version MOBILE */                    
        @media ( min-width : 0px ) and ( max-width: 480px ) {
            .plans{
                width: 95%;
                padding-left: 0.5rem;
            }
            .plans__card{
                width: 120%;
            }
            .plans__card-button {
                padding: 1rem 2rem 1rem 2rem;
            }

        
        }


        
        /* Como se veran las plans en version TABLET */
        @media ( min-width : 481px ) and ( max-width: 1024px ) {
            
            .plans__card{
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin:0;                
            }

            .plans__card-characteristic{
                text-align: left;
                /* background-color: #3bbdee; */
            }

         




            .plans__card-h4-dollar-price-month{
                width: 35%;
                /* background-color: #3bbdee; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                /* background-color: #999ba3; */
            }
            .plans__card-characteristic{
                width: 30%;
            }
            .plans__card-button-container{
                width: 35%;
                /* background-color: #2848c7; */
                text-align: center;

            }


        }



        /* Como se veran las plans en version DESKTOP para adelante */
        @media ( min-width : 1025px ) {
            .plans__card-container{
                flex-direction: row;
                flex-wrap: nowrap;
                column-gap: 2em;
            }

            .plans__card:hover{
                transform: scale(1.08);
                animation-duration: 0.25s;
                animation-timing-function: ease-in;
                cursor: pointer;
            }  

        }

 
.footer{
    width: 100%;
    background-color: #1b1c20;
    color: #ffffff;
    padding: 1.5em;
    text-align: center;
}        
    






